/* PC */
@media (min-width: 992px) {}

/* Tablet */
@media (min-width: 576px) and (max-width: 991px) {
    #features .feature-item {
        width: 50%;
    }

    #features .feature-item + .feature-item + .feature-item {
        margin-top: 32px;
    }
}


/* Mobile */
@media (max-width: 575px) {
    #features .feature-item {
        width: 100%;
    }

    #features .feature-item + .feature-item{
        margin-top: 32px;
    }
}